---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="VD7" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Vivek Dutta"
	  position="SWE | EECS @UC Berkeley alum"
	  aboutMe={`me@vd7.io`}
	  linkedin="https://www.linkedin.com/in/vdutts7"
	  github="https://github.com/vdutts7"
	  cvLink="/files/resume-cv.pdf"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>

<!--
	"me@vd7.io

	Here is my GitHub {https://github.com/vdutts7}. Give a Star to the template and share it so others can see and use it."
 -->